---
layout: page 
---

<h1>
    {{ page.title }}
<div class="buttons" id="sticky-nav">
  <a class="button" href="#call-for-submissions">Submission Process</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="button" href="#dates">Important dates*</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="button" href="#schedule">Workshop Schedule</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="button" href="#speakers">Speakers</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="button" href="#organizers">Organizers</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="button" href="#sponsors">Sponsors</a>
</div>
</h1>

<div class="ms-5 mb-3 border-bottom">
    {% if page.description %}<div class="">{{ page.description | markdownify }}</div>{%- endif -%}
    {% if page.topics %}<div class="">{{ "Topics: <strong>" | append: page.topics | append: "</strong>" | markdownify }}</div>{%- endif -%}
</div>
    
{% if page.youtubeid %}
<div class="text-center mb-4 border rounded p-2">
    <figure class="mb-0">
        <div class="ratio ratio-16x9">
            <iframe title="{{ page.title }} section video" src="https://www.youtube-nocookie.com/embed/{{ page.youtubeid }}?rel=0&modestbranding=1" allowfullscreen></iframe>
        </div>
        <figcaption class="figure-caption mt-1"><a href="https://youtu.be/{{ page.youtubeid }}" target="_blank" rel="noopener">Section Video</a></figcaption>
    </figure>
</div>
{%- endif -%}

<div class="my-4">

{{ content }}

</div>
